@{
    var viewControllerName = ViewContext.RouteData.Values["controller"].ToString();
    var viewActionName = ViewContext.RouteData.Values["action"].ToString();
    bool logIn = viewControllerName.Equals("Login") && viewActionName.Equals("Index");
    if (!logIn && Session["SSN"] == null)
    {
        Response.Redirect("~/Login");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            @if (!logIn) //logged in
            {
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Materials", "Index", "Materials", null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
                <div class="float-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Log Out", "Index", "Login", null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
